<!-- ***** Hero Area Start ***** -->
<div class="hero-area d-flex align-items-center">
  <!-- Hero Thumbnail -->
  <div class="hero-thumbnail equalize bg-img" style="background-image: url(../../assets/img/bg-img/portfolio.jpg);"></div>
  
  <!-- Hero Content -->
  <div class="hero-content equalize">
      <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-center">
              <div class="col-12 col-md-8">
                  <div class="line"></div>
                  <h2>This is what I have been up to</h2>
                  <p>I am most active on Instagram out of the all social media networks. Feel free to follow me there!</p>
                  <a href="https://www.instagram.com/vallenteen/" target="_blank" class="btn sonar-btn">Check out my Instagram</a>
              </div>
          </div>
      </div>
  </div>

  <!-- Portfolio Menu -->
  <div class="sonar-portfolio-menu">
      <div class="text-center portfolio-menu">
          <button class="btn active" data-filter="*">All</button>
          <button class="btn" data-filter=".landscapes">Landscapes</button>
          <button class="btn" data-filter=".portraits">Portraits</button>
          <button class="btn" data-filter=".fashion">Fashion</button>
          <button class="btn" data-filter=".studio">Studio</button>
      </div>
  </div>
</div>
<!-- ***** Hero Area End ***** -->

<!-- INSTA FEED BEGIN -->
<div id="instafeed-container"></div>

	<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	
	</script>


<!-- ****** Gallery Area Start ****** -->
<section class="sonar-projects-area" id="projects">
  <div class="container-fluid">
      <div class="row sonar-portfolio">

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item landscapes studio wow fadeInUpBig" data-wow-delay="300ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/1.jpg"><img src="../../assets/img/portfolio-img/1.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>Mountains in the mist</h4>
                  <p>Landscapes</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item portraits fashion wow fadeInUpBig" data-wow-delay="500ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/2.jpg"><img src="../../assets/img/portfolio-img/2.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>A beautifull encounter</h4>
                  <p>Portrait</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item landscapes studio wow fadeInUpBig" data-wow-delay="700ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/3.jpg"><img src="../../assets/img/portfolio-img/3.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>Mountains in the mist</h4>
                  <p>Landscapes</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item portraits studio wow fadeInUpBig" data-wow-delay="900ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/4.jpg"><img src="../../assets/img/portfolio-img/4.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>A beautifull encounter</h4>
                  <p>Portrait</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item landscapes fashion wow fadeInUpBig" data-wow-delay="300ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/5.jpg"><img src="../../assets/img/portfolio-img/5.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>Mountains in the mist</h4>
                  <p>Landscapes</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item portraits fashion wow fadeInUpBig" data-wow-delay="500ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/6.jpg"><img src="../../assets/img/portfolio-img/6.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>A beautifull encounter</h4>
                  <p>Portrait</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item landscapes fashion wow fadeInUpBig" data-wow-delay="700ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/7.jpg"><img src="../../assets/img/portfolio-img/7.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>Mountains in the mist</h4>
                  <p>Landscapes</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item portraits studio wow fadeInUpBig" data-wow-delay="900ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/8.jpg"><img src="../../assets/img/portfolio-img/8.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>A beautifull encounter</h4>
                  <p>Portrait</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item landscapes studio wow fadeInUpBig" data-wow-delay="300ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/9.jpg"><img src="../../assets/img/portfolio-img/9.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>Mountains in the mist</h4>
                  <p>Landscapes</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item portraits wow fadeInUpBig" data-wow-delay="500ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/10.jpg"><img src="../../assets/img/portfolio-img/10.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>A beautifull encounter</h4>
                  <p>Portrait</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item landscapes wow fadeInUpBig" data-wow-delay="700ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/11.jpg"><img src="../../assets/img/portfolio-img/11.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>Mountains in the mist</h4>
                  <p>Landscapes</p>
              </div>
          </div>

          <!-- Single gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item portraits wow fadeInUpBig" data-wow-delay="900ms">
              <a class="gallery-img" href="../../assets/img/portfolio-img/12.jpg"><img src="../../assets/img/portfolio-img/12.jpg" alt=""></a>
              <!-- Gallery Content -->
              <div class="gallery-content">
                  <h4>A beautifull encounter</h4>
                  <p>Portrait</p>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12 text-center">
              <a href="#" class="btn sonar-btn">Load More</a>
          </div>
      </div>
  </div>
</section>
<!-- ****** Gallery Area End ****** -->
