<!-- ***** Hero Area Start ***** -->
<div class="hero-area">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gallery-headline wow fadeInDown" data-wow-delay="0.5s">
                    <div class="line aligh-items-center"></div>
                    <h2>This is what I have been up to</h2>
                    <h5>I am most active on Instagram.</h5>
                    <h5>Feel free to follow me there!</h5>
                    <a href="https://www.instagram.com/vallenteen/" target="_blank" class="btn sonar-btn">To Instagram</a>
                </div>
            </div>
        </div>
    </div>


  


<!-- ****** Gallery Area Start ****** -->
<section class="sonar-projects-area" id="projects">
    <div class="container-fluid">
        
            <!-- INSTA FEED BEGIN -->
            <div class="">
                <div id="instafeed" class="row sonar-portfolio" ></div>
            </div>
        

        <div class="row wow fadeInUp" data-wow-delay="2500ms">
            <div class="col-12 text-center">
                <a href="https://www.instagram.com/vallenteen/" target="_blank" class="btn sonar-btn">To Instagram</a>
            </div>
        </div>
    </div>
  </section>
  <!-- ****** Gallery Area End ****** -->
  