<!-- ***** Hero Area Start ***** -->
<div class="hero-area d-flex align-items-center">
  <!-- Hero Thumbnail -->
  <div class="hero-thumbnail equalize bg-img" style="background-image: url(../../assets/img/bg-img/portfolio.jpg);"></div>
  
  <!-- Hero Content -->
  <div class="hero-content equalize fadeInUp" data-wow-delay="300ms">
      <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-center">
              <div class="col-12 col-md-8">
                  <div class="line"></div>
                  <h2>This is what I have been up to</h2>
                  <p>I am most active on Instagram out of the all social media networks. Feel free to follow me there!</p>
                  <a href="https://www.instagram.com/vallenteen/" target="_blank" class="btn sonar-btn">To Instagram</a>
              </div>
          </div>
      </div>
  </div>

<!-- ***** Hero Area End ***** -->


<!-- ****** Gallery Area Start ****** -->
<section class="sonar-projects-area" id="projects">
    <div class="container-fluid">
        
            <!-- INSTA FEED BEGIN -->
            <div class="">
                <div id="instafeed" class="row sonar-portfolio" ></div>
            </div>
        

        <div class="row wow fadeInUp" data-wow-delay="500ms">
            <div class="col-12 text-center">
                <a href="#" class="btn sonar-btn">To instagram</a>
            </div>
        </div>
    </div>
  </section>
  <!-- ****** Gallery Area End ****** -->
  