<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="menu-area d-flex justify-content-between">
                    <!-- Logo Area  -->
                    <div class="logo-area">
                        <a >vallenteen</a>
                    </div>
                    <div class="menu-area d-flex">
                        <app-nav-music-player></app-nav-music-player>
                    </div>

                    <div class="menu-content-area d-flex align-items-center">
                        <!-- Header Social Area -->
                        <div class="header-social-area d-flex align-items-center">
                            <a href="https://open.spotify.com/artist/6geFd06AP7JSTgcmG7OUIA"  target="blank">
                                <i class="fa fa-spotify" aria-hidden="true" placement="bottom" triggers="mouseenter:mouseleave" popoverClass="nav-popover" ngbPopover="Spotify"></i></a>
                            <a href="https://music.apple.com/rs/artist/vallenteen/1510802602" target="blank" 
                            placement="bottom" triggers="mouseenter:mouseleave" popoverClass="nav-popover" ngbPopover="Apple Music">
                            <i class="fa fa-music" aria-hidden="true"></i></a>
                            <a href="https://www.youtube.com/c/vallenteen" target="blank" 
                            placement="bottom" triggers="mouseenter:mouseleave" popoverClass="nav-popover" ngbPopover="YouTube">
                            <i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/vallenteen/" 
                            placement="bottom" triggers="mouseenter:mouseleave" popoverClass="nav-popover" ngbPopover="Instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://vallenteen.bandcamp.com/" target="blank" 
                            placement="bottom" triggers="mouseenter:mouseleave" popoverClass="nav-popover" ngbPopover="Bandcamp">
                            <i class="fa fa-bandcamp" aria-hidden="true"></i></a>
                        </div>
                        <!-- Menu Icon -->
                        <span class="navbar-toggler-icon" id="menuIcon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->