/* :: Hero Slides Area CSS */
.hero-slides .single-hero-slide {
    height: 950px;
    position: relative;
    z-index: 1;
    padding: 0 40px 100px;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    overflow: visible;
    cursor: pointer; }
    .hero-slides .single-hero-slide .hero-slides-content {
      position: relative;
      z-index: 1;
      -webkit-transform: translateY(75%);
      transform: translateY(75%);
      -webkit-transition-duration: 800ms;
      transition-duration: 800ms;
      bottom: 0; }
      .hero-slides .single-hero-slide .hero-slides-content .line {
        width: 100px;
        height: 1px;
        background-color: #ffffff;
        margin-bottom: 30px;
        display: block; }
      .hero-slides .single-hero-slide .hero-slides-content h2 {
        color: #ffffff;
        font-weight: 100; }
      .hero-slides .single-hero-slide .hero-slides-content p {
        color: #ffffff;
        margin-bottom: 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-top: 140px; }
    .hero-slides .single-hero-slide:hover .hero-slides-content {
      -webkit-transform: translateY(0%);
      transform: translateY(0%); }
    .hero-slides .single-hero-slide:hover p {
      margin-top: 40px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .hero-slides .single-hero-slide {
        height: 800px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .hero-slides .single-hero-slide {
        height: 700px; } }
    @media only screen and (max-width: 767px) {
      .hero-slides .single-hero-slide {
        height: 550px; } }
  .hero-slides .owl-dots {
    position: absolute;
    left: 50px;
    bottom: 50px; }
    .hero-slides .owl-dots .owl-dot {
      width: 8px;
      height: 8px;
      border: 1px solid #6a6a67;
      margin: 0 5px;
      border-radius: 50%;
      display: inline-block; }
      .hero-slides .owl-dots .owl-dot.active {
        border: 1px solid #ffffff;
        background-color: #ffffff; }
  