<!-- ***** Call to Action Area Start ***** -->
<div class="sonar-call-to-action-area section-padding-0-100">
  <div class="backEnd-content">
      <h2>Dream</h2>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="call-to-action-content wow fadeInUp" data-wow-delay="0.5s">
                  <h2>i am a music producer</h2>
                  <h5>who is inspired by life's little things</h5>
                  <a href="#" class="btn sonar-btn mt-100">all my music</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ***** Call to Action Area End ***** -->