<!-- ***** Call to Action Area Start ***** -->
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
            <div class="circle-picture-area mt-20  wow fadeInUp text-center" data-wow-delay="0.5s">
                <div id="circle-picture">
        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sonar-call-to-action-area section-padding-0-100">
  <div class="backEnd-content">
      <h2></h2>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="call-to-action-content wow fadeInUp" data-wow-delay="0.5s">
                  <h2>I am a music producer</h2>
                  <h5>who is inspired by life's little things</h5>
                  <a [routerLink]="['/discography']" class="btn sonar-btn mt-100">all my music</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ***** Call to Action Area End ***** -->