<!-- ***** Portfolio Area Start ***** -->
<div class="portfolio-area section-padding-100">
  <!-- Main Header Image -->
  <div class="main-header-wrapper">
      <div class="main-header-image wow fadeIn"></div>     
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="portfolio-title wow fadeIn">
                      <h2>“indie electronic music about the daily life”</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row justify-content-between">
          <!-- Single Portfoio Area -->
          <div class="col-12 col-md-5">
              <div class="single-portfolio-item mt-100 portfolio-item-1 wow fadeIn">
                  <div class="backend-content">
                      
                      <h2>Reality</h2>
                  </div>
                  <div class="portfolio-thumb">
                      <img src="assets/img/home-img/photo1.png" alt="">
                  </div>
                  <div class="portfolio-meta">
                      <p class="portfolio-date">Feb 02, 2018</p>
                      <h2>Italy in the sunset</h2>
                  </div>
              </div>
          </div>
          <!-- Single Portfoio Area -->
          <div class="col-12 col-md-6">
              <div class="single-portfolio-item mt-230 portfolio-item-2 wow fadeIn">
                  <div class="backend-content">
                     
                  </div>
                  <div class="portfolio-thumb">
                      <img src="assets/img/home-img/photo6.jpg" alt="">
                  </div>
                  <div class="portfolio-meta">
                      <p class="portfolio-date">Feb 02, 2018</p>
                      <h2>Mountain Landscape</h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single Portfoio Area -->
          <div class="col-12 col-md-10">
              <div class="single-portfolio-item mt-100 portfolio-item-3 wow fadeIn">
                  <div class="backend-content">
                     
                      <h2>Photography</h2>
                  </div>
                  <div class="portfolio-thumb">
                      <img src="assets/img/home-img/photo3.jpg" alt="">
                  </div>
                  <div class="portfolio-meta">
                      <p class="portfolio-date">Feb 02, 2018</p>
                      <h2>Foggy sunset over the lake</h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="row justify-content-end">
          <!-- Single Portfoio Area -->
          <div class="col-12 col-md-6">
              <div class="single-portfolio-item portfolio-item-4 wow fadeIn">
                  <div class="backend-content">
                     
                  </div>
                  <div class="portfolio-thumb">
                      <img src="assets/img/home-img/photo4.jpg" alt="">
                  </div>
                  <div class="portfolio-meta">
                      <p class="portfolio-date">Feb 02, 2018</p>
                      <h2>Clouds on mountain top</h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single Portfoio Area -->
          <div class="col-12 col-md-5">
              <div class="single-portfolio-item portfolio-item-5 wow fadeIn">
                  <div class="backend-content">
                     
                      <h2>Hope</h2>
                  </div>
                  <div class="portfolio-thumb">
                      <img src="assets/img/home-img/photo5.jpg" alt="">
                  </div>
                  <div class="portfolio-meta">
                      <p class="portfolio-date">Feb 02, 2018</p>
                      <h2>Over the canion</h2>
                  </div>
              </div>
          </div>
      </div>

<!-- ***** Portfolio Area End ***** -->