<!-- ***** Hero Area Start ***** -->
<div class="hero-area d-flex align-items-center wow fadeIn" data-wow-delay="0.2s">
  <!-- Back End Content -->
  <div class="backEnd-content">
      <img class="dots" src="" alt="">
  </div>

  <!-- Hero Thumbnail -->
  <div class="hero-thumbnail"> 
    <img class="bg-img" src="../../assets/img/home-img/photo1.png">
</div>
  <!-- Hero Content -->
  <div class="hero-content aboutUs equalize">
      <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-center">
              <div class="col-12 col-md-10">
                  <div class="line"></div>
                  <h2 class="wow fadeInUp" data-wow-delay="300ms">Hello, my name is Sergiu Valentin and I am an independent electronic music producer</h2>
                  <h5 class="wow fadeInUp" data-wow-delay="600ms">Born in Serbia, and currently based in Romania where I study to become an engineer in computer science. making music has been one of my many passions ever since 2011, when I first got my hands on a music software because I wanted so badly to produce just like Basshunter, my then favourite artist.
                    
                     </h5>
                    <h5 class="wow fadeInUp" data-wow-delay="600ms">Since then I changed my artist name a bunch of times, the genre I produced, techniques, but the excitement I get from developing an idea into a full-length musical creation and sharing it with you still stays the same.
                    </h5>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ***** Hero Area End ***** -->

<div class="sonar-about-us-area bg-img" style="background-image: url(../assets/img/home-img/photo2.jpg);">
  <!-- Back End Content -->
  <div class="backEnd-content">
      <h2></h2>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-md-10 col-lg-7">
              <div class="about-us-content">
                  <div class="section-heading text-left wow fadeInUp" data-wow-delay="300ms">
                      <div class="line"></div>
                      <h2 class="about-my-music-headline cosmic-latte-bg">About my music</h2>
                  </div>
                  <div class="wow fadeInUp cosmic-latte-bg" data-wow-delay="600ms">
                        <h5>The music I create spans over quite a handful of subgenres of the electronic music. often blending between lo-fi hip hop, house, or bedroom pop, the genre itself in my opinion is not so relevant. Instead, I always aim to faithfully depict an emotion or a situation from the daily life.</h5>
                          <h5> All situations that inspire me to create are never random, it is always something more or less ordinary from the daily life. This is all because I try my best to make you, dear listener, relate to my music, identify with it, and remind you of the simple beautiful things in life.</h5>
                    </div>
                  <!-- Button to discography -->
                  <a [routerLink]="['/discography']" class="btn sonar-btn mt-10 mt-50 wow fadeInUp" data-wow-delay="900ms">all my music</a>
                  </div>
              </div>
          </div>
      </div>
  </div>



